nav.nav-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: baseline;

  padding: 0.5em;
  gap: 0.5em;
}

h1.title {
  color: ghostwhite;
  text-shadow: 5px 3px 1px #181818;
  font-size: 5em;
  flex-grow: 1;
}

.nav-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sticker {
  position: absolute;
  border: 0.4em solid white;
  border-radius: 0.1em;
  transform: rotate(-2deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sticker-container {
  position: relative;
  height: 100px;
  width: 110px;
}

.nav-button {
  background: ghostwhite;
  border-radius: 1em;
  text-align: center;
  padding: 0.5em;
  box-shadow: 0.2em 0.2em;
  font-family: 'croquete';
}

.nav-button.nav-selected {
  background-color: #ffe788;
}
