nav.nav-bar {
  display: flex;
  justify-content: center;

  padding: 0.5em;
  gap: 0.5em;
}

h1.title {
  font-family: Lobster, sans-serif;
  color: #181818;
  text-shadow: 2px 2px 2px white;
  font-size: 3em;
  flex-grow: 1;
}

.nav-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sticker {
  position: absolute;
  border: 0.4em solid white;
  border-radius: 0.1em;
  transform: rotate(-2deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sticker-container {
  position: relative;
  height: 100px;
  width: 110px;
}
