:root {
  /*--background: linear-gradient(0deg, #cae7ff, #d3ffe8);*/
  --background: linear-gradient(0deg, #ffe788, #ff5b5b);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;

  background-color: #ffe78829;
  background-size: 1.5em 1.5em;
  background-image:
          linear-gradient(to right, #ff5b5b29 1px, transparent 1px),
          linear-gradient(to bottom, #ff5b5b29 1px, transparent 1px);
}

body {
  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 1em;
}

@media (max-width: 900px) {
  body {
    width: 100vw;
  }
}

li {
  margin-left: 1em;
}

h2, h3 {
  margin-bottom: .5em;
}
