:root {
  /*--background: linear-gradient(0deg, #cae7ff, #d3ffe8);*/
  --background: linear-gradient(0deg, #ffe788, #ff5b5b);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  display: flex;
  justify-content: center;

  background-color: #ffe78829;
  background-size: 1.5em 1.5em;
  background-image:
          linear-gradient(to right, #ff5b5b29 1px, transparent 1px),
          linear-gradient(to bottom, #ff5b5b29 1px, transparent 1px);
}

@media (max-width: 900px) {
  body {
    width: 100vw;
    flex-grow: 1;
  }
}

li {
  margin-left: 1em;
}

h2, h3 {
  margin-bottom: .5em;
}

.sticker {
  border: 0.4em solid white;
  border-radius: 0.1em;
  transform: rotate(-2deg);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);

  animation: shake-rot 500ms cubic-bezier(.36,.07,.19,.97);
}

@keyframes shake-rotate {
  0%   { transform: rotate(-2deg); }
  25%  { transform: rotate(4deg); }
  50%  { transform: rotate(-3deg); }
  75%  { transform: rotate(6deg); }
  100% { transform: rotate(-2deg); }
}

.sticker:hover {
  animation: shake-rotate 500ms cubic-bezier(.36,.07,.19,.97);
}

.projects-container p {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

.projects-container img:nth-of-type(even) {
  transform: rotate(2deg);
}
