.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5em;
  align-items: center;
  justify-items: center;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: black;

  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 0.5em;
}

.no-stretch {
  height: unset;
  align-self: baseline;
}
